/* Header, Nav, and Banner */

h3 {
  color: #6495ED;
  font-size: small;
}

hr {
  color: #6495ED;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: #000000;
}

.container-fluid {
  margin-left: 5em;
}

.navbar-nav > li{
  align-items: right;
}

.material-icons {
  color: #6495ED;
  font-size: 4em;
}

.btn {
  color: #ffffff;
  border-color: #ffffff;
}

.btn:hover {
  color: #6495ED;
  background-color: #ffffff;
  border-color: #ffffff;
}

#banner .carousel-item > div p {
  color: #ffffff;
}

.carousel-caption {
  padding-bottom: 4em;
}

/* Column Section */

#column-section .container {
  padding-top: 2em;
  padding-left: 4em;
  padding-bottom: 2em;
}

.row {
  text-align: center;
}

/* Impact Section */

#impact-section {
  background: #d2e4ff;
  padding: 2.2em 0 2.8em;
}

#impact-section h2 {
  color: #6495ED;
}

#impact-section p {
  margin: 1em 4.4em 3.5em;
  font-size: .75em;
}

#left-button {
  border-color: #6495ED;
  background-color: #6495ED;
}

#left-button:hover {
  color: #6495ED;
  background-color: #ffffff;
  border-color: #ffffff;
}

/* Featured Section */

#featured-content {
  padding: 2.4em 0 2.7em;
}

#featured-content div.container{
  width:55.5em
}

#featured-content h2 {
  margin-bottom: 1.125em;
}

.featured-text {
  color: #6495ED;
}

a.featured-content {
  display: flex;
  height: 12em;
  align-items: center;
  color: #ffffff;
  padding: 1.875em;
  margin: 0 .3em 1em;
  text-decoration: none;
}

.featured-content {
  background-color: #d2e4ff;
}

.featured-content h3 {
  color: #ffffff;
  margin-top: 1.875em;
  font-size: medium;
  text-shadow: .5px .5px #4e5768;
}

#card-text{
  color: #6495ED;
  text-shadow: .5px .5px #4e5768;
}